.test-carousel {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: $z-front;
    opacity: 0;

    @include respond-to(md) {
        padding: 4rem 2rem;
    }

    @include respond-to(lg) {
        width: 50%;
        justify-content: space-between;
        padding: 2rem 1rem;
    }

    .carousel-track {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .carousel-item {
        display: none;
        justify-content: center;
        align-items: center;
        aspect-ratio: 9 / 16;

        &.active {
            display: block;
            justify-content: center;
            align-items: center;
            animation: fadeIn 1s ease-in-out;


            img {
                width: auto;
                height: 100%;
                object-fit: cover;
                object-position: center;
                display: block;
                border-radius: 20px;
                overflow: hidden;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

            }
        }
    }
}

.carousel-indicators {
    margin: 3rem 0 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;

    .indicator {
        width: 10px;
        height: 10px;
        background-color: #ffffff55;
        border-radius: 50%;
        border: 1px solid #81818155;
        transition: background-color 0.3s ease-in-out;

        &.active {
            background-color: $color-primary;
        }
    }
}
