#header {
    width: 100dvw;
    position: fixed;
    z-index: $z-modal;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.2rem);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
}

.header-logo {
    width: 2rem;
    flex-shrink: 0;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    @include respond-to(lg) {
        width: 3rem;
    }
}

.header-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-nav-item{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 0.6rem;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    color: white;
    padding: 0.5rem;            
    transition: text-decoration 0.3s, transform 0.3s, color 0.3s, text-shadow 0.3s;

    @include respond-to(md) {
        font-size: 1rem;
        text-underline-offset: 0.3rem;
    }

    @include respond-to(lg) {   
        font-size: 1.2rem;
        text-underline-offset: 0.4rem;

        &:hover {
            text-decoration: overline;
            color: $color-primary;
            text-shadow: 
            -1px -1px 10px $color-secondary,
            1px -1px 10px $color-secondary,
            -1px 1px 10px $color-secondary,
            1px 1px 10px $color-secondary,;
            transform: scale(1.3);
        }
    }
}