* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h5 {
    font-style: italic;
    font-weight: 400;
    text-align: right;
    margin: 1rem 1rem;
    font-size: x-small;
}