@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes initBG-hero {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(0.4);
  }
}
@keyframes initBG-contact {
  from {
    filter: blur(0px) brightness(1);
  }
  to {
    filter: blur(3px) brightness(0.6);
  }
}
@keyframes initWidth-dvw-sm {
  from {
    width: 0dvw;
  }
  to {
    width: 90dvw;
  }
}
@keyframes initWidth-dvw-md {
  from {
    width: 0dvw;
  }
  to {
    width: 80dvw;
  }
}
@keyframes initWidth-dvw-lg {
  from {
    width: 0dvw;
  }
  to {
    width: 70dvw;
  }
}
@keyframes initWidth-percent-sm {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
@keyframes initWidth-percent-md {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 85%;
    opacity: 1;
  }
}
@keyframes initWidth-percent-lg {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 70%;
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-40px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-40px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h5 {
  font-style: italic;
  font-weight: 400;
  text-align: right;
  margin: 1rem 1rem;
  font-size: x-small;
}

* {
  font-family: "Montserrat", sans-serif;
}

.btn {
  padding: 0.8rem 2rem;
  margin: 0 3rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .btn {
    font-size: 1.2rem;
    margin: 0 10rem;
  }
}
@media (min-width: 1024px) {
  .btn {
    font-size: 1.2rem;
    margin: 0 10rem;
  }
}

.btn-primary {
  background-color: #00aac9;
  color: white;
  opacity: 1;
  transition: background-color 0.3s ease;
}
.btn-primary:active {
  background-color: #007f96;
}
@media (min-width: 1024px) {
  .btn-primary:hover {
    background-color: #007f96;
  }
}

.exp-tab-btn {
  background-color: #f0f0f0;
  color: #555;
  border: none;
  border-radius: 10px;
  box-shadow: 6px 6px 12px #ccc, -6px -6px 12px #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.exp-tab-btn:hover {
  box-shadow: inset 4px 4px 12px #ccc, inset -4px -4px 12px #fff;
}
.exp-tab-btn.active {
  box-shadow: inset 4px 4px 12px #ccc, inset -4px -4px 12px #fff;
}

.carousel-btn {
  z-index: 100;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  transition: transform 0.3s ease;
  height: 100px;
  transform: translateY(-40%);
}
.carousel-btn.prev {
  left: 10px;
}
.carousel-btn.next {
  right: 10px;
}
@media (min-width: 1024px) {
  .carousel-btn {
    cursor: pointer;
    font-size: 2rem;
  }
  .carousel-btn:hover {
    transform: scale(1.2) translateY(-35%);
  }
}

.dest-card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  background-color: rgb(255, 250, 245);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
}
.dest-card img {
  width: auto;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-20px);
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .dest-card {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .dest-card {
    width: 25%;
  }
  .dest-card img {
    min-height: 500px;
    transition: transform 0.3s ease-in-out;
  }
  .dest-card img:hover {
    transform: scale(1.1) translateY(-20px);
  }
}

.dest-card-frame {
  width: 100%;
  min-height: 150px;
  max-height: 350px;
  border: 0px solid transparent;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.dest-card-text {
  position: relative;
  width: 100%;
  color: #555;
  padding: 0rem 1rem;
}
.dest-card-text h3,
.dest-card-text p {
  margin: 1rem 0;
}

.test-carousel {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  opacity: 0;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .test-carousel {
    padding: 4rem 2rem;
  }
}
@media (min-width: 1024px) {
  .test-carousel {
    width: 50%;
    justify-content: space-between;
    padding: 2rem 1rem;
  }
}
.test-carousel .carousel-track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test-carousel .carousel-item {
  display: none;
  justify-content: center;
  align-items: center;
  aspect-ratio: 9/16;
}
.test-carousel .carousel-item.active {
  display: block;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}
.test-carousel .carousel-item.active img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.carousel-indicators {
  margin: 3rem 0 1rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.carousel-indicators .indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3333333333);
  border-radius: 50%;
  border: 1px solid rgba(129, 129, 129, 0.3333333333);
  transition: background-color 0.3s ease-in-out;
}
.carousel-indicators .indicator.active {
  background-color: #00aac9;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 1rem;
  margin: 2rem 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateX(-200px);
}
.contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-form h3 {
  margin-bottom: 1rem;
  color: #555;
}
@media (min-width: 1024px) {
  .contact-form {
    width: 35%;
    margin: 0;
  }
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  color: #555;
  padding: 0.3rem;
}
.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}
.form-group input, .form-group textarea {
  background-color: rgba(255, 255, 255, 0.7);
  color: #555;
  padding: 0.5rem 0.8rem;
  border: 1px solid transparent;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.form-group input.input-error, .form-group textarea.input-error {
  border: 1px solid red;
  background-color: #ffe5e5;
}
.form-group input:focus, .form-group textarea:focus {
  outline: none;
  border: 1px solid #00aac9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.form-group input:focus::-moz-placeholder, .form-group textarea:focus::-moz-placeholder {
  color: transparent;
}
.form-group input:focus::placeholder, .form-group textarea:focus::placeholder {
  color: transparent;
}
@media (min-width: 1024px) {
  .form-group input:hover, .form-group textarea:hover {
    outline: none;
    border: 1px solid #00aac9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.form-success-msg {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background: #4BB543;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.18);
  z-index: 100;
  font-size: 1rem;
  opacity: 0;
  animation: fadeInOut 2s forwards;
}
@media (min-width: 1024px) {
  .form-success-msg {
    font-size: 1.2rem;
    padding: 1rem 3rem;
  }
}

#header {
  width: 100dvw;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.header-logo {
  width: 2rem;
  flex-shrink: 0;
}
.header-logo img {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 1024px) {
  .header-logo {
    width: 3rem;
  }
}

.header-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-nav-item {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.6rem;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  color: white;
  padding: 0.5rem;
  transition: transform 0.3s, color 0.3s, text-shadow 0.3s, -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s, transform 0.3s, color 0.3s, text-shadow 0.3s;
  transition: text-decoration 0.3s, transform 0.3s, color 0.3s, text-shadow 0.3s, -webkit-text-decoration 0.3s;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .header-nav-item {
    font-size: 1rem;
    text-underline-offset: 0.3rem;
  }
}
@media (min-width: 1024px) {
  .header-nav-item {
    font-size: 1.2rem;
    text-underline-offset: 0.4rem;
  }
  .header-nav-item:hover {
    text-decoration: overline;
    color: #00aac9;
    text-shadow: -1px -1px 10px #013154, 1px -1px 10px #013154, -1px 1px 10px #013154, 1px 1px 10px #013154;
    transform: scale(1.3);
  }
}

#home {
  position: relative;
  width: 100dvw;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: brightness(1);
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.hero-title {
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 2rem;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .hero-subtitle {
    font-size: 2.2rem;
  }
}

#watcher {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0dvw;
  height: auto;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.watcher-initAnim {
  animation: initWidth-dvw-sm 0.7s ease-in-out forwards;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .watcher-initAnim {
    animation: initWidth-dvw-md 0.7s ease-in-out forwards;
  }
}
@media (min-width: 1024px) {
  .watcher-initAnim {
    animation: initWidth-dvw-lg 0.7s ease-in-out forwards;
  }
}

.watcher-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.1rem;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.watcher-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  width: 60%;
  padding: 1rem;
}
.watcher-filters form {
  font-size: 0.8rem;
  padding: 0.5rem 0;
}
.watcher-filters form input {
  width: 100%;
  margin-top: 0.2rem;
  padding: 0.2rem;
  border: 1px solid #2c3e50;
  border-radius: 5px;
  font-size: 1rem;
  color: #9c9c9c;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .watcher-filters {
    flex-direction: row;
  }
  .watcher-filters form {
    font-size: 1.2rem;
    padding: 0 0.8rem;
  }
  .watcher-filters form input {
    padding: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .watcher-filters {
    flex-direction: row;
  }
  .watcher-filters form {
    font-size: 1.4rem;
    padding: 0 1rem;
  }
  .watcher-filters form input {
    padding: 0.8rem;
  }
}

.watcher-btn {
  width: 25%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 0 1rem;
}
.watcher-btn button {
  margin: 0;
}

#destinations {
  position: relative;
  background-color: white;
  width: 100dvw;
  height: auto;
}

.destinations-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 6rem 3rem 3rem;
}
@media (min-width: 1024px) {
  .destinations-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#experiences {
  position: relative;
  background: linear-gradient(rgb(255, 255, 255), rgb(135, 211, 255), rgb(66, 186, 255));
  width: 100dvw;
  height: auto;
}

.experiences-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 3rem 3rem;
}
.experiences-container h2 {
  font-size: 3rem;
  color: #555;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 4px 4px 10px #fff, -4px -4px 10px #fff;
}

.exp-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #555;
}

.exp-tabs {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  width: 0%;
  z-index: 10;
  box-shadow: 3px 3px 10px #bbb;
}
@media (min-width: 1024px) {
  .exp-tabs {
    padding: 1rem 2rem;
  }
}

.exp-initAnim {
  animation: initWidth-percent-sm 1s ease-in-out forwards;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .exp-initAnim {
    justify-content: center;
    animation: initWidth-percent-md 1s ease-in-out forwards;
  }
}
@media (min-width: 1024px) {
  .exp-initAnim {
    justify-content: space-around;
    animation: initWidth-percent-lg 1s ease-in-out forwards;
  }
}

.exp-contents {
  width: 90%;
  background-color: #f0f0f0;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 20px 20px;
  z-index: 1;
  box-shadow: 0px 5px 15px #aaa;
}
@media (min-width: 1024px) {
  .exp-contents {
    width: 65%;
  }
}

.tab-content {
  display: none;
  opacity: 0;
  padding: 1rem;
  color: #555;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tab-content.active {
  display: flex;
  opacity: 1;
  animation: fadeInUp 0.7s ease-in-out;
}
.tab-content .img-container {
  width: 100%;
  height: auto;
  margin: 0 0 1rem 0;
}
.tab-content .img-container img {
  border-radius: 10px;
}
.tab-content p {
  padding: 0 0.3rem;
}
@media (min-width: 1024px) {
  .tab-content {
    padding: 1rem 5rem;
    flex-direction: row;
    align-items: flex-start;
  }
  .tab-content .img-container {
    width: 80%;
    margin: 0 1rem 0 0;
  }
  .tab-content p {
    width: 100%;
    font-size: 1.2rem;
    padding: 0rem 5rem;
  }
}

#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: auto;
  padding: 3rem 1rem;
  background: linear-gradient(35deg, gray, white, gray);
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  #testimonials {
    padding: 3rem 1rem;
  }
}
@media (min-width: 1024px) {
  #testimonials {
    padding: 3rem 1rem;
  }
}

@media (min-width: 1024px) {
  .test-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.test-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  z-index: 1;
  opacity: 0;
}

.test-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-profile {
  width: 5rem;
  height: auto;
  border-radius: 100%;
  border: #555 1px solid;
  transform: translateY(0.8rem);
  background-color: #fff;
  box-shadow: 0px -5px 20px #ccc;
}

.test-p {
  font-size: 1.2rem;
  color: #555;
  background-color: #ddd;
  text-align: center;
  max-width: 600px;
  line-height: 1.5;
  padding: 1rem;
  border: #555 1px solid;
  box-shadow: 0px 5px 20px #ccc;
}

#contact {
  position: relative;
  overflow: hidden;
  width: 100dvw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact h1 {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  text-shadow: 0 0 20px rgb(255, 255, 255);
}

.contact-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  filter: blur(0px) brightness(1);
  pointer-events: none;
  z-index: -1;
}

.contact-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0rem 3rem;
  margin-bottom: 2rem;
}
@media (min-width: 1024px) {
  .contact-container {
    padding: 4rem 8rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 1rem;
  margin: 2rem 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateX(200px);
}
.contact-info h3 {
  margin-bottom: 1rem;
  color: #555;
}
@media (min-width: 1024px) {
  .contact-info {
    width: 35%;
    margin: 0;
  }
  .contact-info a:hover {
    -webkit-text-decoration: underline 1px solid #555;
            text-decoration: underline 1px solid #555;
    cursor: pointer;
    text-underline-offset: 0.2rem;
  }
}

.contact-info p {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin: 0.8rem 0;
  color: #555;
}

#footer {
  width: 100dvw;
  height: auto;
  background-color: rgb(0, 0, 0);
}

.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  color: #fff;
  opacity: 0;
}
.footer-container p, .footer-container a {
  color: #fff;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
@media (min-width: 1024px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem;
  }
  .footer-container p, .footer-container a {
    color: #fff;
    font-size: 1.7rem;
    margin: 0.5rem 0;
  }
}

.footer-logo {
  width: 5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  .footer-logo {
    width: 10rem;
  }
}

.footer-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-info ul li {
  margin: 0.5rem 0;
}
.footer-info ul li:hover {
  -webkit-text-decoration: underline 2px solid #00aac9;
          text-decoration: underline 2px solid #00aac9;
  cursor: pointer;
  text-underline-offset: 0.4rem;
}
@media (min-width: 1024px) {
  .footer-info ul {
    display: flex;
    flex-direction: row;
  }
  .footer-info ul li {
    margin-right: 5rem;
  }
}

.footer-rights {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.footer-rights p {
  font-size: 0.7rem;
  margin: 0.5rem 0;
}
@media (min-width: 1024px) {
  .footer-rights p {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */